@font-face
{
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;

	src:
		local('Roboto Medium Italic'),
		local('Roboto-MediumItalic'),
		url(Roboto-MediumItalic.woff2) format('woff2'),
		url(Roboto-MediumItalic.woff) format('woff'),
		url(Roboto-MediumItalic.ttf) format('truetype');
}
